[Unit]
Description=BorgWarehouse
Documentation=https://borgwarehouse.com
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="PATH=__ENV_PATH__"
WorkingDirectory=__INSTALL_DIR__/app
Environment=PORT=__PORT__
ExecStart=__YNH_NPM__ run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
